body {    
    background-image: url(./images/travel-image.jpg);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}
.text {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 3px;
    background: linear-gradient(180deg,#00ff24 0,#b6941b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}